@page "/"
@using EventEase.Services
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inject UserSessionService UserSession
@inject EventService EventService

<div class="top-row-modern">
    <h1>Upcoming Events</h1>
    @if (UserSession?.IsRegistered == true)
    {
        <span class="logout-link">
            <a href="#" @onclick="Logout">Logout</a>
        </span>
    }
</div>

@if (UserSession?.IsRegistered == true)
{
    <p class="greeting-text">Hi @UserSession.CurrentUsername, want to register for more?</p>
}

<div class="event-grid">
    <Virtualize Items="@events" Context="evt">
        <div class="event-grid-item">
            <EventCard @key="evt.Name" currentEvent="evt" />
        </div>
    </Virtualize>
</div>





@code {
    private List<Event> events = new();

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetEvents();
    }

    private void Logout()
    {
        UserSession.Logout();
    }
}
